{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="table_detail">
	<h2>通道信息</h2>
	<form action="/index.php?a=channel&m=edit&t=ajax" method="POST" onsubmit="return $.fn.ajaxForm(this);">
		<input type="hidden" name="id" value="{$id}" />
		<table class="table_detail">
			<tbody align="left" valign="top">
				{if $id > 0}<tr><th width="120px">编号</th><td>{$object.id}</td></tr>{/if}
				<tr><th>名称</th><td><input type="text" name="name" value="{if $id > 0}{$object.name}{/if}" /></td></tr>
				<tr><th>类型</th><td>
					<div class="radiolist">
						{foreach from=$channel_type_list item=v key=k}
							<input type="radio" id="{$v}{$k}" value="{$k}" name="type" {if $object.type == $k}checked="checked"{/if} /><label for="{$v}{$k}">{$v}</label>
						{/foreach}
					</div>
				</td></tr>
				<tr><th>状态</th><td>
					<div class="radiolist">
						{foreach from=$is_disable_list item=v key=k}
							<input type="radio" id="{$v}{$k}" value="{$k}" name="is_disable" {if $object.is_disable == $k}checked="checked"{/if} /><label for="{$v}{$k}">{$v}</label>
						{/foreach}
					</div>
				</td></tr>
				<tr><td>&nbsp;</td><td><input type="submit" class="btn" value="保存" /></td></tr>
			</tbody>
		</table>
	</form>
</div>
{include file="common_bottom.html"}
