<div class="datatable list">
	<div class="data"><table><tbody>
		<tr class="nobb">
			<td><b>{$object.file_name}</b></td>
			<td><b>{$object.file_name_short}</b></td>
			<td><b>待翻</b>{$object.wait_t_count}</td>
			<td><b>待校</b>{$object.wait_p_count}</td>
			<td><b>待审</b>{$object.wait_a_count}</td>
			<td><b>数量</b>{$object.data_count}</td>
			<td><b>更新时间</b>{$object.update_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="uploadscope fileid-{$object.id}" data-file_name="{$object.file_name}">上传文件区域</td>
			<td class="operating">
				<a data-id="{$object.id}" class="btn_refresh" href="javascript:;">刷新</a>
				<a target="_blank" href="/index.php?a=file&m=export&id={$object.id}">导出</a>
				<a href="/index.php?a=file&m=edit&id={$object.id}">编辑</a>
				<a data-id="{$object.id}" data-confirm="确认删除 '{$object.file_name}'？" class="btn_del" href="javascript:;">删除</a>
			</td>
		</tr>
	</tbody></table></div>
</div>
<script type="text/javascript">
	obj = $(".fileid-{$object.id}");
{literal}
	obj.get(0).addEventListener("drop", H_Drop, false);
	obj.bind("dragleave", H_DragLeave);
	obj.bind("dragover", H_DragOver);
{/literal}
</script>
