{include file="common_top.html"}
	{include file="common_head.html"}
</head>
<body class="navgbody">
	<div class="logo">{$smarty.const.APP_NAME}</div>
	<div class="info">
		<div>你好, {$smarty.session.USER.nick}</div>
		<div>
			<a href="javascript:;" class="btn_dict">打开字典</a>
			<span>|</span>
			<a href="javascript:;" class="btn_panel">关闭面板</a>
			<br />
			<a href="/index.php?a=index&m=logout" target="_top">退出</a>
		</div>
	</div>
	<ul class="menu">
		<li><a target="bodyFrame" class="topitem nosub current" href="/index.php?a=index&m=home">首页</a></li>
		<li><a href="javascript:;" class="topitem">个人设置</a>
			<ul>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=user&m=individuation">个性化</a></li>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=user&m=editpwd">密码修改</a></li>
			</ul>
		</li>
		<li><a href="javascript:;" class="topitem">汉化</a>
			<ul>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=localization&m=list">汉化列表</a></li>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=localization&m=mytask">我的任务</a></li>
			</ul>
		</li>
		{if $smarty.session.USER.super || $smarty.session.USER.dict}
		<li><a target="bodyFrame" href="/index.php?a=dict&m=list" class="topitem nosub">字典管理</a></li>
		{/if}
		{if $smarty.session.USER.super}
		<li><a href="javascript:;" class="topitem">文件管理</a>
			<ul>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=file&m=list">汉化文件列表</a></li>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=file&m=edit&id=0">添加汉化文件</a></li>
			</ul>
		</li>
		<li><a href="javascript:;" class="topitem">自动更新</a>
			<ul>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=autoupdate&m=setting">配置信息</a></li>
				<li><a target="bodyFrame" class="issub" href="/index.php?a=autoupdate&m=list">更新文件</a></li>
			</ul>
		</li>
		<li><a target="bodyFrame" href="/index.php?a=user&m=list" class="topitem nosub">用户管理</a></li>
		<li><a target="bodyFrame" href="/index.php?a=notice&m=list" class="topitem nosub">公告管理</a></li>
		<li><a target="bodyFrame" href="/index.php?a=system&m=info" class="topitem nosub">系统信息</a></li>
		{/if}
	</ul>
	<div class="sizebtn btn_panel" title="关闭面板"></div>
	<script type="text/javascript">
	{literal}
		// Navg
		$(".navgbody .menu a.topitem").hover(function(){
			$(this).stop().animate({paddingRight: "25px"}, 200);
		},function(){
			$(this).stop().animate({paddingRight: "15px"});
		});
		$(".navgbody .menu a").click(function(){
			if($(this).hasClass("nosub")){
				$(".navgbody .menu a").removeClass("current");
				$(this).addClass("current");
			}else if($(this).hasClass("issub")){
				$(".navgbody .menu a").removeClass("current");
				$(this).addClass("current");
				$(this).parent().parent().parent().find(".topitem").addClass("current");
			}else{
				$(this).parent().siblings().find("ul").slideUp("normal");
				$(this).next().slideToggle("normal");
			}
		});
		// Dict
		$(".btn_dict").click(function(){
			if($(this).data("dict")){
				$(this).data("dict", false);
				$(this).html("打开面板");
				parent.mainFrame.cols = "230,*,0";
			}else{
				$(this).data("dict", true);
				$(this).html("关闭面板");
				parent.mainFrame.cols = "230,*,230";
			}
		});
		// Panel
		$(".btn_panel").click(function(){
			var r_p = $(".btn_dict").data("dict") ? 230 : 0;
			if($("a.btn_panel").data("panel")){
				$("a.btn_panel").data("panel", false);
				parent.mainFrame.cols = "9,*," + r_p;
				$(".btn_panel").attr("title", "打开面板");
			}else{
				$("a.btn_panel").data("panel", true);
				parent.mainFrame.cols = "230,*," + r_p;
				$(".btn_panel").attr("title", "关闭面板");
			}
		});
		$("a.btn_panel").data("panel", true);
	{/literal}
	</script>
{include file="common_bottom.html"}
