{include file="common_top.html"}
	{include file="common_head.html"}
	<style type="text/css">
	{literal}
		#task_exco label{margin:0px;}
	{/literal}
	</style>
</head>
<body class="mainbody">
	<div class="datatable">
		<h3>个性设置</h3>
		<form action="/index.php?a=user&m=individuation&t=ajax" method="post">
			<div class="data"><table><tbody>
				<tr><th style="width:150px;">字典每页数量</th><td><input type="text" class="txt w50" name="line_dict" value="{$smarty.session.USER.individuation_detail.line_dict}" /></td></tr>
				<tr><th>汉化每页数量</th><td><input type="text" class="txt w50" name="line_ln" value="{$smarty.session.USER.individuation_detail.line_ln}" /></td></tr>
				<tr><th>任务每页数量</th><td><input type="text" class="txt w50" name="line_task" value="{$smarty.session.USER.individuation_detail.line_task}" /></td></tr>
				<tr><th>任务默认状态</th><td>
					<div id="task_exco">
						<input type="radio" id="task_exco_co" name="task_exco" value="0" {if $smarty.session.USER.individuation_detail.task_exco == 0}checked="checked"{/if} /><label for="task_exco_co">收起</label>
						<input type="radio" id="task_exco_ex" name="task_exco" value="1" {if $smarty.session.USER.individuation_detail.task_exco == 1}checked="checked"{/if} /><label for="task_exco_ex">展开</label>
					</div>
				</td></tr>
				<tr class="pagination"><td colspan="2">
					<div class="button"><input type="submit" class="btn" value="保存" /></div>
				</td></tr>
			</tbody></table></div>
		</form>
	</div>
	<div class="msg"></div>
	<script type="text/javascript">
	{literal}
		$("#task_exco").buttonset();
		$("form").submit(function(){
			// Clear
			$(".msg").html("");

			// Submit
			$.fn.dyAjaxForm(this, {dataType: "JSON", onEvent: {success: function(result){
				if(result.state){
					$.fn.notificationShow($(".msg"), result.message, "success");
				}else{
					$.fn.notificationShow($(".msg"), result.message, "error");
				}
			}, error: function(jqXHR, textStatus, errorThrown){
				$.fn.notificationShow($(".msg"), "AJAX请求出错[" + errorThrown + "].", "error");
			}}});
			return false;
		});
	{/literal}
	</script>
{include file="common_copyright.html"}
{include file="common_bottom.html"}
