{include file="common_top.html"}
{include file="common_head.html"}
<script type="text/javascript">$.fn.frameCheck();</script>
{include file="common_center.html"}
<div class="index_login">
	<div class="header"><strong>消息推送系统</strong></div>
	{if $message}<div class="message">{$message}</div>{/if}
	<div class="content">
		<form action="/index.php?a=index&m=login" method="post">
			<input type="hidden" name="submit" value="1" />
			<table cellspacing="1"><tbody>
				<tr class="head"><th colspan="2">登录</th></tr>
				<tr class="body"><th>帐号</th><td><input type="text" class="w200" name="account" value="{$account}" /></td></tr>
				<tr class="body"><th>密码</th><td><input type="password" class="w200" name="password" /></td></tr>
				<tr class="foot"><td colspan="2"><input type="submit" class="w75" value="登录" /></td></tr>
			</tbody></table>
		</form>
	</div>
</div>
{include file="common_bottom.html"}
