/* CSS3前缀能去掉的都去掉了，待以后浏览器自动支持 */

html, body, div, p, img, ul, li, form, h1, h2, h3, h4, h5, h6, fieldset, legend{margin:0;padding:0;border:0;}
html, body{height:100%;min-width:100%;position:absolute;}
html{font:12px arial, helvetica, sans-serif;background:#FFFFFF;color:#333333;}
ul{list-style:none;}
p{line-height:17px;margin-bottom:13px;}
a{color:#1155CC;text-decoration:none;}
a:active{color:#D14836;}
a:hover{text-decoration:underline;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}

.clearfix:after{visibility:hidden;display:block;font-size:0;content:'.';clear:both;height:0;}
.mgt15{margin-top:15px;}.mgt35{margin-top:35px;}
.fl{float:left;}.fr{float:right;}

.app-wrapper{min-width:868px;min-height:100%;position:relative;}
.app-header{height:70px;background:#F1F1F1;border-bottom:1px solid #E5E5E5;overflow:hidden;}
.app-header .content{padding:0px 44px;}
.app-header .content .logo{margin-top:16px;}
.app-body{margin:0 auto;max-width:1088px;min-width:868px;padding:20px 0px 80px;}
.app-body .content{padding:0px 44px;}
.app-footer{position:absolute;bottom:0;height:35px;width:100%;border-top:1px solid #EBEBEB;overflow:hidden;}
.app-footer .content{padding:9px 44px 0px;white-space:nowrap;}
.app-footer .content ul{float:left;color:#999999;}
.app-footer .content ul li{display:inline;padding-right:20px;}
.app-footer .content a{color:#333333;}

.block-message{height:300px;}
.block-message.error{background:transparent url("/images/robot-error.png") no-repeat 80% center;}
.block-message.success{background:transparent url("/images/robot-success.png") no-repeat 80% center;}
.block-message .title{font-size:26px;font-weight:bold;margin-bottom:20px;color:#328ADB;}
.block-message .message{text-indent:2em;width:450px;line-height:17px;margin-bottom:20px;font-size:16px;}
.block-message .info{text-align:right;width:450px;}
.block-message .info font{color:#EF2B35;}
.block-message a{color:#EF2B35;}

.block-product{margin-right:385px;}
.block-product div{margin-bottom:15px;color:#DD4B39;font-size:25px;}
.block-product p .redlink{color:#DD4B39;}
.block-product ul{margin-top:25px;}
.block-product ul p{margin-left:68px;}
.block-product ul .title{font-size:16px;margin-bottom:5px;}
.block-product ul li{margin-bottom:25px;}
.block-product ul img{float:left;margin-top:-3px;}

.block-benefit{margin-right:400px;}
.block-benefit .header{margin-bottom:15px;color:#DD4B39;font-size:20px;line-height:24px;}
.block-benefit ul li{margin-bottom:30px;overflow:hidden;}
.block-benefit ul li img{float:left;border:1px solid #E5E5E5;}
.block-benefit ul li div{margin-left:275px;}
.block-benefit ul li div h2{color:#555555;font-size:20px;line-height:24px;margin-bottom:9px;}
.block-benefit ul li div p{color:#999999;line-height:19px;}

.block-article{margin-top:-15px;}
.block-article .items{border-bottom:1px solid #EEEEEE;padding:0px 0px 5px 3px;margin-bottom:20px;}
.block-article .items ul li{float:left;padding:6px 0px;margin-right:20px;}
.block-article .content{padding:0px;}
.block-article .navg{float:left;width:150px;width:16%}
.block-article .navg li{padding:9px 0px;border-bottom:1px solid #EEEEEE;}
.block-article .detail{float:right;width:81%;}
.block-article .detail h1{font-weight:bold;margin-bottom:10px;}
.block-article .detail h2{font-weight:bold;margin:25px 0px 5px;}
.block-article .detail .info{text-align:right;}
.block-article .detail p{text-indent:2em;line-height:20px;margin-bottom:10px;}
.block-article .detail ul{list-style:disc;margin-left:30px;margin-bottom:10px;}
.block-article .detail li{line-height:20px;}

.block-login{width:335px;float:right;overflow:hidden;}
.block-login .main{border:1px solid #E5E5E5;background:#F1F1F1;padding:20px 25px 15px 25px;}
.block-login .main h2{font-size:16px;height:16px;line-height:17px;margin-bottom:15px;position:relative;}
.block-login .main h2 strong{background:transparent url("/images/block-login_logo.png") no-repeat;display:inline-block;height:19px;position:absolute;right:0;top:1px;width:52px;}
.block-login .main .element{margin-bottom:20px;}
.block-login .main .element span.msgerr{display:block;color:#DD4B39;line-height:17px;margin-top:6px;}
.block-login .main .element.default label strong{display:block;margin-bottom:6px;padding-left:1px;}
.block-login .main .element.default label.label{position:relative;display:inline-block;width:100%;cursor:text;}
.block-login .main .element.default label.label span{color:#BBBBBB;position:absolute;display:none;top:8px;left:10px;}
.block-login .main .element.control label{cursor:pointer;display:inline-block;margin-top:9px;vertical-align:top;}
.block-login .main .element.control label strong{color:#666666;font-weight:normal;line-height:0;padding-left:5px;}
.block-login .main .element.control label input{cursor:pointer;margin:0px;background:#FFFFFF;border:1px solid #DCDCDC;height:13px;position:relative;vertical-align:bottom;width:13px;border-radius:1px;}
.block-login .main .element.control .dy-button{margin:0px 20px 15px 0px;}
.block-login .main .links{line-height:17px;}
.block-login .main .links li{margin-bottom:7px;}

.block-register{width:362px;float:right;overflow:hidden;}
.block-register .main{border:1px solid #E5E5E5;background:#F1F1F1;padding:20px 25px 15px;}
.block-register .main .element{margin-bottom:20px;}
.block-register .main .element span.msgerr{display:block;color:#DD4B39;line-height:17px;margin-top:6px;}
.block-register .main .element.default label{display:block;}
.block-register .main .element.default label strong{display:inline-block;margin-bottom:6px;margin-left:1px;}
.block-register .main .element.fieldset legend strong{display:inline-block;margin-bottom:6px;margin-left:1px;}
.block-register .main .element.fieldset label{position:relative;display:inline-block;}
.block-register .main .element.fieldset label span{color:#BBBBBB;position:absolute;display:none;top:8px;left:10px;cursor:text;}
.block-register .main .element.fieldset label.first_name input{width:150px;margin-right:7px;}
.block-register .main .element.fieldset label.last_name input{width:150px;}
.block-register .main .element.service label{cursor:pointer;display:inline-block;position:relative;width:100%;}
.block-register .main .element.service label strong{display:block;font-weight:normal;line-height:17px;margin-left:30px;margin-bottom:0px;}
.block-register .main .element.service label input{float:left;margin-top:2px;}
.block-register .main .element.service span.msgerr{margin-left:30px}
.block-register .main .element.control{text-align:right;margin-bottom:5px;}

.block-member{}
.block-member .navg{width:20%;float:left;}
.block-member .navg .tree{position:relative;}
.block-member .navg .tree .arrow{left:18px;position:absolute;width:17px;height:29px;padding:0px;}
.block-member .navg .tree .arrow:hover{background-color:#EEEEEE;}
.block-member .navg .tree .open{background:url("/images/arrow_down.png") no-repeat center;}
.block-member .navg .tree .close{background:url("/images/arrow_right.png") no-repeat center;}
.block-member .navg .tree .sub{display:none;}
.block-member .navg a{display:block;padding:5px 0px 6px;border-left:3px solid #FFFFFF;color:#000000;text-decoration:none;line-height:18px;}
.block-member .navg a.current{border-left:3px solid #DD4B39;color:#DD4B39;}
.block-member .navg a:hover{background:#EEEEEE;border-left:3px solid #EEEEEE;}
.block-member .navg a.current:hover{border-left:3px solid #DD4B39;}
.block-member .navg .lv1{padding-left:45px;}
.block-member .navg .lv2{padding-left:69px;}
.block-member .detail{width:78%;float:right;}
.block-member .detail .info{margin-bottom:10px;}
.block-member .detail .info h1{font-size:16px;text-align:right;padding:5px;font-weight:bold;color:#CCCCCC;}
.block-member .detail .info h2{font-size:12px;text-align:right;padding:0px 5px;color:#999999;}
.block-member .detail .panel{width:100%;}
.block-member .detail .panel td{padding:5px 5px;}
.block-member .detail .panel .title{width:120px;text-align:right;font-weight:bold;}
.block-member .detail .panel .control{width:240px;}
.block-member .detail .panel .message{color:#DD4B39;}
.block-member .detail .panel .notice{padding:0px 10px 15px 5px;color:#999999;}

.block-homepage{}
.block-homepage .title{font-weight:bold;font-size:18px;}
.block-homepage .description{margin:10px 0px 15px;font-size:14px;}
.block-homepage .broswer li{margin-bottom:10px;border:1px solid #E5E5E5;}
.block-homepage .broswer li .name{font-size:16px;font-weight:bold;background:#F1F1F1;padding:8px;cursor:pointer;display:block;text-decoration:none;color:#000000;}
.block-homepage .broswer li .name:hover{background:#E1E1E1;}
.block-homepage .broswer li .name .logo{width:20px;height:20px;display:block;float:left;margin-right:10px;}
.block-homepage .broswer li .name .logo.ie{background:url("/images/ie.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.s360{background:url("/images/s360.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.maxthon{background:url("/images/maxthon.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.sougou{background:url("/images/sougou.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.qq{background:url("/images/qq.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.tt{background:url("/images/tt.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.firefox{background:url("/images/firefox.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.chrome{background:url("/images/chrome.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.s360js{background:url("/images/s360js.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.world{background:url("/images/world.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.opera{background:url("/images/opera.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.worldjs{background:url("/images/worldjs.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.safari{background:url("/images/safari.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.green{background:url("/images/green.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .logo.kr{background:url("/images/kr.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li .name .arrow{width:20px;height:20px;float:right;background:url("/images/arrow_close.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li.open .name .arrow{background:url("/images/arrow_open.gif") no-repeat scroll center center transparent;}
.block-homepage .broswer li.open .detail{display:block;}
.block-homepage .broswer li .detail{display:none;}
.block-homepage .broswer li .detail p{font-weight:bold;background:#F4F9FF;padding:10px;font-size:14px;margin:0px;}
.block-homepage .broswer li .detail img{margin:10px 10px 15px 10px;}

.link-round{background:#DD4B39;padding:0 5px;color:#FFFFFF;font-weight:bold;display:inline-block;text-decoration:none;position:relative;top:0px;border-radius:9px;}
.link-round:hover{background:#C03523;text-decoration:none;}
.link-round:active{background:#AE2817;}

.dy-text{font-family:inherit;font-size:15px;height:32px;width:100%;padding:0 8px;border:1px solid #D9D9D9;border-top:1px solid #C0C0C0;box-sizing:border-box;}
		.dy-text{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}	/* 总有一天这行代码会被砍掉 */
.dy-text.error{border:1px solid #DD4B39;}
.dy-text:hover{border:1px solid #B9B9B9;border-top:1px solid #A0A0A0;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.dy-text:focus{outline:none;border:1px solid #4D90FE;box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);}

.dy-button{font-size:12px;font-weight:bold;height:32px;padding:0 8px;border-radius:2px;cursor:pointer;}
.dy-button.disabled, .dy-button.disabled:hover, .dy-button.disabled:active{background-color:none;opacity:.5;filter:alpha(opacity=50);cursor:default;pointer-events:none;}
.dy-button.blue{border:1px solid #3079ED;color:#FFFFFF;background-color:#4D90FE;background-image:linear-gradient(top,#4D90FE,#4787ED);}
.dy-button.blue:focus{box-shadow:inset 0 0 0 1px #FFFFFF;}
.dy-button.blue:hover{border:1px solid #2F5BB7;background-color:#357AE8;background-image:linear-gradient(top,#4D90FE,#357AE8);}
.dy-button.blue:active{background-color:#357AE8;background-image:linear-gradient(top,#4D90FE,#357AE8);}
.dy-button.white{border:1px solid #D9D9D9;color:#333333;background-color:#F5F5F5;background-image:linear-gradient(top,#F5F5F5,#F1F1F1);}
.dy-button.white:focus{box-shadow:inset 0 0 0 1px #999999;}
.dy-button.white:hover{border:1px solid #C6C6C6;background-color:#F8F8F8;background-image:linear-gradient(top,#F8F8F8,#F1F1F1);}
.dy-button.white:active{background-color:#FBFBFB;background-image:linear-gradient(top,#FBFBFB,#F1F1F1);}

.dy-select{position:relative;}
.dy-select .caption{cursor:pointer;background-color:#F5F5F5;background-image:linear-gradient(center top , #F5F5F5, #F1F1F1);border:1px solid #DCDCDC;border-radius:2px 2px 2px 2px;font-weight:bold;line-height:27px;list-style:none outside none;outline:medium none;padding:0 18px 0 6px;text-decoration:none;vertical-align:middle;display:inline-block;position:relative;}
.dy-select .caption:hover{background-color:#F8F8F8;background-image:linear-gradient(top,#F8F8F8,#F1F1F1);box-shadow:0 1px 1px rgba(0,0,0,.1);border-color:#C6C6C6;color:#333333;}
.dy-select .caption.open{box-shadow:inset 0 1px 2px rgba(0,0,0,.1);background-color:#EEEEEE;background-image:linear-gradient(top,#EEEEEE,#E0E0E0);border:1px solid #CCCCCC;color:#333333;}
.dy-select .caption .text{vertical-align:top;white-space:nowrap;display:inline-block;position:relative;color:#444444;font-size:12px;font-weight:bold;line-height:27px;list-style:none outside none;}
.dy-select .caption .dropdown{background:url("/images/dy-select_icon.png") no-repeat scroll center center transparent;height:11px;width:7px;margin-top:-4px;position:absolute;right:5px;top:12px;display:inline-block;line-height:27px;list-style:none outside none;}
.dy-select .list{display:none;visibility:visible;background:#FFFFFF;border:1px solid rgba(0, 0, 0, 0.2);box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);cursor:pointer;font-size:12px;outline:medium none;overflow:auto;position:absolute;transition:opacity 0.218s;bottom:0;}
.dy-select .list .item{color:#333333;cursor:pointer;list-style:none outside none;padding:6px 7px 6px 30px;position:relative;white-space:nowrap;}
.dy-select .list .item:hover{background-color:#EEEEEE;}

.dy-captcha{background:#FFFFFF;border:1px solid #E5E5E5;}
.dy-captcha .img{border-bottom:1px solid #E5E5E5;overflow:hidden;padding:5px;text-align:center;}
.dy-captcha .text{padding:10px;position:relative;}
.dy-captcha .text label{display:block;}
.dy-captcha .text label strong{display:block;margin-left:0;margin-bottom:6px;}
.dy-captcha .text label strong.msgerr{color:#DD4B39;font-weight:normal;}
.dy-captcha .text .btns{bottom:13px;position:absolute;right:11px;}
.dy-captcha .text .btns a{display:inline-block;height:21px;width:21px;text-decoration:none;opacity:0.50;filter:alpha(opacity=50);}
.dy-captcha .text .btns a:hover{opacity:0.8;filter:alpha(opacity=80);}
.dy-captcha .text .btns a.help{background:url("/images/dy-captcha_icon.png") repeat scroll 0px center transparent;}
.dy-captcha .text .btns a.reload{background:url("/images/dy-captcha_icon.png") repeat scroll -63px center transparent;}

.dy-bubble{background-color:#FFFFFF;border:1px solid;border-color:#BBBBBB #BBBBBB #A8A8A8;position:absolute;z-index:999 !important;padding:16px;width:255px;line-height:17px;display:none;box-shadow:0 1px 3px rgba(0, 0, 0, .2);}
.dy-bubble .content{padding:0;line-height:17px;}
.dy-bubble .arrow{right:0px;top:20px;position:absolute;}
.dy-bubble .arrow div{display:block;height:0;position:absolute;width:0;}
.dy-bubble .arrow .arrow-b{border:9px solid;border-color:transparent #BBBBBB;top:-9px;border-right-width:0;}
.dy-bubble .arrow .arrow-f{border:8px solid;border-color:transparent #FFFFFF;top:-8px;border-right-width:0;}

.page-member_home .product{float:left;width:65%;}
.page-member_home .product .btn-product{text-align:center;border:1px solid #E5E5E5;padding:5px;cursor:pointer;color:#DD4B39;background:#F9F9F9;}
.page-member_home .product .btn-product:hover{background:#F6F6F6;}
.page-member_home .product .item{border:1px solid #EEEEEE;padding:12px 20px;margin-bottom:10px;}
.page-member_home .product .item .title{border-bottom:1px solid #EEEEEE;padding-bottom:5px;margin-bottom:10px;}
.page-member_home .product .item .title .logo{width:16px;height:16px;float:left;margin-top:2px;}
.page-member_home .product .item .title .name{font-size:16px;margin:0px 5px;text-decoration:none;color:#000000;}
.page-member_home .product .item .title .name:hover{color:#DD4B39;}
.page-member_home .product .item .title span{color:#999999;margin-left:5px;}
.page-member_home .product .item .info{margin:0px;}
.page-member_home .product .item .info li{float:left;margin-right:30px;}
.page-member_home .product .item .info li .val{display:block;text-align:center;font-size:18px;padding-bottom:3px;}
.page-member_home .product .item .info li .key{display:block;text-align:center;margin-bottom:15px;}
.page-member_home .account{float:right;width:30%;}
.page-member_home .account .portrait{padding:16px;border:1px solid #E5E5E5;border-radius:3px 3px 3px 3px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);}
.page-member_home .account .portrait img{width:100%;margin-bottom:15px;}
.page-member_home .account .portrait h1{color:#666666;font-weight:normal;font-size:16px;}
.page-member_home .account .login_info{padding:16px;background:#F9F9F9;border:1px solid #E5E5E5;}
.page-member_home .account .login_info h1{color:#666666;font-weight:normal;font-size:16px;}
.page-member_home .account .login_info ul li{margin-top:15px;}
.page-member_home .account .login_info ul li p{line-height:20px;}
.page-member_home .account .login_info .key{color:#222222;padding:0px;margin:0px;}
.page-member_home .account .login_info .val{color:#777777;padding:0px;margin:0px;}
.page-member_home .account .account_log{padding:16px;border:1px solid #EBEBEB;border-top:0px;}
.page-member_home .account .account_log a{text-decoration:none;}

.page-member_base .item{padding:10px 0px;cursor:pointer;}
.page-member_base .item:hover{background:#EBEFFA;}
.page-member_base .item .key{font-size:15px;text-align:right;display:inline-block;width:120px;vertical-align:top;line-height:15px;}
.page-member_base .item .val, .page-member_base .item .privacy{font-size:13px;padding-left:15px;display:inline-block;color:#999999;vertical-align:top;line-height:17px;}
.page-member_base .item .privacy{float:right;margin-right:15px;}
