{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		{if $code_page}
			{include file="common_message/$code.html"}
		{else}
			<div class="content clearfix">
				<div class="page-common_message error">
					<div class="title">出错啦！</div>
					<div class="message">系统需要修复，请赶紧将错误信息告诉管理员。</div>
					<div class="info">错误代码：<font>{$smarty.now} - {$code}</font></div>
				</div>
			</div>
		{/if}
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
