{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="page-index_sethomepage">
				<div class="title">如何把Downy设为您的上网主页？</div>
				<div class="description">请参考以下步骤，设置 Downy 为您的上网主页。</div>
				<ul class="broswer">
					<li id="chrome"><a class="name" href="#chrome"><span class="logo chrome"></span>Chrome浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="firefox"><a class="name" href="#firefox"><span class="logo firefox"></span>Firefox浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="green"><a class="name" href="#green"><span class="logo green"></span>绿色浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="ie"><a class="name" href="#ie"><span class="logo ie"></span>IE浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="kr"><a class="name" href="#kr"><span class="logo kr"></span>KR浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="maxthon"><a class="name" href="#maxthon"><span class="logo maxthon"></span>傲游浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="opera"><a class="name" href="#opera"><span class="logo opera"></span>Opera浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="qq"><a class="name" href="#qq"><span class="logo qq"></span>QQ浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="s360s"><a class="name" href="#s360s"><span class="logo s360s"></span>360安全浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="s360c"><a class="name" href="#s360c"><span class="logo s360c"></span>360极速浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="safari"><a class="name" href="#safari"><span class="logo safari"></span>Safari浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="sougou"><a class="name" href="#sougou"><span class="logo sougou"></span>搜狗浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="tt"><a class="name" href="#tt"><span class="logo tt"></span>TT浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="world"><a class="name" href="#world"><span class="logo world"></span>世界之窗浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
					<li id="worldc"><a class="name" href="#worldc"><span class="logo worldc"></span>世界之窗极速版浏览器<span class="arrow"></span></a><div class="detail"><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /><p>1.点击"工具"菜单， 选择"主页设置"。</p><img src="/images/360_1.png" /></div></li>
				</ul>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
<script type="text/javascript">
{literal}
$(function(){
	var broswer = $.fn.broswerName();
	var obj = $("#" + broswer);
	obj.clone().prependTo(".broswer");
	obj.remove();
	$(".broswer li .name").click(function(){
		var b = $(this).parent();
		var open = !b.hasClass("open");
		b.parent().find("li").removeClass("open");
		if(open){
			b.addClass("open");
		}
	});
	$("#" + broswer + " .name").click();
});
{/literal}
</script>
{include file="common_bottom.html"}
