{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="page-index_article">
				<div class="items">
					<ul class="clearfix">
						{include file="index_intl/_menu.html"}
					</ul>
				</div>
				<div class="content">
					{include file="index_intl/$article.html"}
				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
