{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="block-member">
				{include file="member_common_navg.html"}
				<div class="detail page-member_base">
					<div class="item"><div class="key">头像</div><div class="val"><img src="/images/me.jpg" width="100px" /></div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">姓氏</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">名字</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">性别</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">生日</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">血型</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">个性宣言</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">手机</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
					<div class="item"><div class="key">邮箱</div><div class="val">您的个性宣言</div><div class="privacy">仅个人</div></div>
				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
