{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="block-member">
				{include file="member_common_navg.html"}
				<div class="detail homepage">
					<div class="product">
						<ul>
							{foreach from=$product item=v}
							<li class="item">
								<div class="title">
									<img src="{$v.logo}" class="logo" />
									<a class="name" href="{$v.href}">{$v.name}</a>
									<span class="exp">[ {$v.exp} ]</span>
								</div>
								<div class="info">
									{if !empty($v.html)}{$v.html}{else}
										<ul class="clearfix">
											{foreach from=$v.info item=_v}
											<li><span class="val">{$_v.val}</span><span class="key">{$_v.key}</span></li>
											{/foreach}
										</ul>
									{/if}
								</div>
							</li>
							{/foreach}
						</ul>
					</div>
					<div class="account">
						<div class="portrait">
							<img src="{if $MEMBER.image}{$MEMBER.image}{else}/images/me.jpg{/if}" />
							<h1>{$MEMBER.first_name} {$MEMBER.last_name}</h1>
						</div>
						<div class="login_info">
							<h1>帐户活动报告</h1>
							<ul>
								<li><p class="key">上次登录日期</p><p class="val">{$MEMBER.last.inout_time|date_format:"%Y/%m/%d %H:%M"}</p></li>
								<li><p class="key">上次登录时所用的IP地址</p><p class="val">{$MEMBER.last.ip|long2ip}</p></li>
							</ul>
						</div>
						<div class="account_log"><a href="#">了解更多详情，请查看您的账户活动报告。</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
