{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="action-member">
				{include file="member_common_navg.html"}
				<div class="detail page-member_safe">
					<div class="item">
						<div class="name">密码和找回密码</div>
						<div class="title">我的密码</div>
						<div class="description">切勿将用于 Downy 帐户的密码用于其他网站。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_mypassword">了解详情</a></div>
						<div class="title">找回密码</div>
						<div class="description">当您忘记了密码时，使用恢复选项可让您更轻松地重新访问自己的帐户。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_recover">了解详情</a></div>
					</div>
					<div class="item">
						<div class="name">验证和通知</div>
						<div class="title">保密问题</div>
						<div class="description">用于找回密码和设置其他密保。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_myqanda">了解详情</a></div>
						<div class="title">我的手机</div>
						<div class="description">使用您的手机接收验证码，可为您的帐户增加一道额外的安全保障。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_mymobile">了解详情</a></div>
						<div class="title">我的邮箱</div>
						<div class="description">当您的帐户出现重大变化和发生可疑活动时向您发送提醒，让您提前做好应对黑客的准备。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_myemail">了解详情</a></div>
					</div>
					<div class="item">
						<div class="name">帐户活动报告</div>
						<div class="description">通过帐户活动报告，您能够了解您的帐户的相关动态，例如，您的账号在何时何地登录或登出、您在何时修改了您的个人信息，等等。<a target="_blank" href="/index.php?a=index&m=intl&article=safe#a_activity">了解详情</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
