{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="block-member">
				{include file="member_common_navg.html"}
				<div class="detail">

<form action="" method="post" name="form_bindmobile">
	<input type="hidden" name="submit" value="1" />
	<div class="info">
		<h1>安全手机</h1>
		<h2>为了避免遗忘，请您填写真实信息，这将帮助您以后通过回答问题快速找回密码</h2>
	</div>
	<table class="panel">
		<tr class="mobile">
			<td class="title">手机号码：</td>
			<td class="control"><input type="text" name="mobile" class="dy-text" /></td>
			<td class="message"></td>
		</tr>
		<tr class="mobile"><td></td><td colspan="2" class="notice"></td></tr>

		<tr>
			<td class="title"></td>
			<td class="control"><input type="submit" value="发送验证码" class="dy-button blue fr" /></td>
			<td class="message"></td>
		</tr>
	</table>
</form>

<form action="" method="post" name="form_bindmobile">
	<input type="hidden" name="submit" value="1" />
	<div class="info">
		<h1>安全手机</h1>
		<h2>为了避免遗忘，请您填写真实信息，这将帮助您以后通过回答问题快速找回密码</h2>
	</div>
	<table class="panel">
		<tr class="mobile">
			<td class="title">手机号码：</td>
			<td class="control">15812345678</td>
			<td class="message"></td>
		</tr>

		<tr class="code">
			<td class="title">验证码：</td>
			<td class="control"><input type="text" name="code" class="dy-text" /></td>
			<td class="message"></td>
		</tr>
		<tr class="code"><td></td><td colspan="2" class="notice"></td></tr>

		<tr>
			<td class="title"></td>
			<td class="control">
				<input type="submit" value="重发验证码" class="dy-button blue fl" />
				<input type="submit" value="确　定" class="dy-button blue fr" />
			</td>
			<td class="message"></td>
		</tr>
	</table>
</form>

				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
