<script type="text/javascript">
var method = "{$method}";
{literal}
$(function(){
	$("#" + method).addClass("current");
	if($("#" + method).hasClass("lv2")){
		var obj = $("#" + method).parent().parent();
		obj.find(".arrow").removeClass("close");
		obj.find(".arrow").addClass("open");
		obj.find(".sub").css("display", "block");
	}
	$(".block-member .navg .tree .arrow").click(function(){
		var is_close = $(this).hasClass("close");
		$(this).removeClass(is_close ? "close" : "open");
		$(this).addClass(is_close ? "open" : "close");
		$(this).parent().find(".sub").css("display", is_close ? "block" : "none");
	});
});
{/literal}
</script>
<div class="navg">
	<a href="/index.php?a=member&m=home" class="lv1" id="home">账户信息</a>
	<a href="/index.php?a=member&m=base" class="lv1" id="base">资料和隐私</a>
	<a href="/index.php?a=member&m=connect" class="lv1" id="connect">关联帐号</a>
	<div class="tree">
		<div class="arrow close"></div>
		<a href="/index.php?a=member&m=safe" class="lv1" id="safe">账号安全性</a>
		<div class="sub">
			<a href="/index.php?a=member&m=password" class="lv2" id="password">修改密码</a>
			<a href="/index.php?a=member&m=qanda" class="lv2" id="qanda">保密问题</a>
			<a href="/index.php?a=member&m=safemobile" class="lv2" id="safemobile">安全手机</a>
			<a href="/index.php?a=member&m=safeemail" class="lv2" id="safeemail">安全邮箱</a>
		</div>
	</div>
	<a href="/index.php?a=member&m=logout" class="lv1" id="logout">退出</a>
</div>
