{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="table_detail">
	<h2>通道信息</h2>
	<table class="table_detail">
		<tbody align="left" valign="top">
			<tr><th width="120px">编号</th><td>{$channel.id}</td></tr>
			<tr><th>名称</th><td>{$channel.name}</td></tr>
			<tr><th>类型</th><td>{$channel.type_format}</td></tr>
			<tr><th>状态</th><td>{$channel.is_disable_format}</td></tr>
		</tbody>
	</table>
</div>
{include file="common_bottom.html"}
