<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$smarty.const.APP_NAME}</title>
<link rel="StyleSheet" type="text/css" href="/css/common.css" />
<link rel="StyleSheet" type="text/css" href="/css/jquery_redmond/jquery-ui-1.8.21.custom.css" />
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
