{include file="common_top.html"}
{include file="common_head.html"}
</head>
<body class="index_menu">
<ul>
	{if 'CHANNEL:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=channel&m=list">通道管理</a></li>{/if}
	{if 'USER:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=user&m=list">用户管理</a></li>{/if}
	{if 'SURI:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=suri&m=list">短网址管理</a></li>{/if}
	{if 'TASKMULTI:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=taskmulti&m=list">多任务管理</a></li>{/if}
	{if 'TASKSINGLE:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=tasksingle&m=list">单任务管理</a></li>{/if}
	{if 'LOG:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=log&m=list">日志管理</a></li>{/if}
	{if 'SYSTEM:READ'|in_array:$userpower}<li><a target="contFrame" href="/index.php?a=system&m=detail">系统信息</a></li>{/if}
	<li><a target="contFrame" href="/index.php?a=user&m=profile">个人设置</a></li>
	<li><a target="contFrame" href="/index.php?a=index&m=logout">退出登录</a></li>
</ul>
{include file="common_bottom.html"}
