{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="table_list">
	<h2>日志列表</h2>
	<div class="search">
		<form action="/index.php?a=log&m=list" method="post">
			<span>时间：</span><input type="text" class="w75 txt datepicker_from" name="start_time" value="{$params['start_time']}" /> - <input type="text" class="w75 txt datepicker_to" name="end_time" value="{$params['end_time']}" />
			<span class="mgl20">账号：</span><input type="text" class="txt" name="account" value="{$params['account']}" />
			<span class="mgl20">数据表：</span><select class="sel" name="data_table">
				<option value="0">全部</option>
				{foreach from=$data_table_list item=v key=k}
				<option value="{$k}" {if $k == $params['data_table']}selected="selected"{/if}>{$v}</option>
				{/foreach}
			</select>
			<span class="mgl20">操作类型：</span><select class="sel" name="operation_type">
				<option value="0">全部</option>
				{foreach from=$operation_type_list item=v key=k}
				<option value="{$k}" {if $k == $params['operation_type']}selected="selected"{/if}>{$v}</option>
				{/foreach}
			</select>
			<input type="submit" class="mgl20 btn" value="查询" />
		</form>
	</div>
	<table class="table_list">
		<tbody align="left" valign="top">
			<tr><th>编号</th><th>账号</th><th>数据表</th><th>主键编号</th><th>操作类型</th><th>时间</th></tr>
			{foreach from=$list.data item=v}
			<tr><td>{$v.id}</td><td>{$v.account}</td><td>{$v.data_table}</td><td>{$v.data_id}</td><td>{$v.operation_type}</td><td>{$v.create_time|date_format:"%Y-%m-%d %H:%M:%S"}</td></tr>
			{/foreach}
		</tbody>
	</table>
	{if $list.pager.last > $list.pager.first}
		<div class="pager">
			<a href="/index.php?a=log&m=list&p={$list.pager.first}&{$list.pager.params}">首页</a>
			<a href="/index.php?a=log&m=list&p={$list.pager.prev}&{$list.pager.params}">上一页</a>
			{for $i = $list.pager.start; $i <= $list.pager.end; $i++}
				{if $i == $list.pager.current}
					<a href="javascript:void(0);" class="current">{$i}</a>
				{else}
					<a href="/index.php?a=log&m=list&p={$i}&{$list.pager.params}">{$i}</a>
				{/if}
			{/for}
			<a href="/index.php?a=log&m=list&p={$list.pager.next}&{$list.pager.params}">下一页</a>
			<a href="/index.php?a=log&m=list&p={$list.pager.last}&{$list.pager.params}">尾页</a>
		</div>
	{/if}
</div>
{include file="common_bottom.html"}
