{include file="common_top.html"}
{include file="common_head.html"}
{include file="common_center.html"}
<div class="table_detail">
	<h2>用户信息</h2>
	<table class="table_detail">
		<tbody align="left" valign="top">
			<tr><th width="120px">编号</th><td>{$object.id}</td></tr>
			<tr><th width="120px">账号</th><td>{$object.account}</td></tr>
			<tr><th width="120px">权限</th><td>{foreach from=$object.power_format item=v}{$v}　　{/foreach}</td></tr>
			<tr><th width="120px">通道</th><td>{foreach from=$object.channel_format item=v}{$v}　　{/foreach}</td></tr>
			<tr><th width="120px">最后登录时间</th><td>{$object.last_login|date_format:"%Y-%m-%d %H:%M:%S"}</td></tr>
			<tr><th width="120px">状态</th><td>{$object.is_disable_format}</td></tr>
			<tr><th width="120px">单任务上线</th><td>{if $object.tasksingle_limit_day > 0}{$object.tasksingle_limit_day} 条/天{else}不限{/if}</td></tr>
		</tbody>
	</table>
</div>
{include file="common_bottom.html"}
