/* 公共样式 */
html{height:100%;}
html, body, form, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4{margin:0;padding:0;}
body, input, textarea, select, table{font-family:Tahoma,Arial;font-size:12px;color:#333333;}
ul, ol, li{list-style:none;}
a{color:#0000EE;text-decoration:none;}
label{padding-left:3px;cursor:pointer;}
h2{font-size:14px;}
.w75{width:75px;}.w200{width:200px;}
.mgl20{margin-left:20px;}.mgb20{margin-bottom:20px;}
.cb{clear:both;}.fl{float:left;}.fr{float:right;}

/* table detail */
.table_detail{padding:10px 10px 10px 10px;}
.table_detail h2{font-size:14px;border-bottom:1px solid #DDDDDD;color:#336699;padding-bottom:5px;margin-bottom:5px;}
.table_detail table{border-collapse:collapse;width:100%;}
.table_detail table th,.table_detail table td{padding:2px 5px 2px 5px;border:1px solid #CCCCCC;line-height:22px;}
.table_detail table th{text-align:center;}

/* table list */
.table_list{padding:10px 10px 10px 10px;}
.table_list h2{font-size:14px;border-bottom:1px solid #DDDDDD;color:#336699;padding-bottom:5px;margin-bottom:5px;}
.table_list table{border-collapse:collapse;width:100%;}
.table_list table th,.table_list table td{padding:2px 5px 2px 5px;border:1px solid #CCCCCC;line-height:22px;text-align:center;}

/* pager */
.pager{text-align:right;padding:5px 0px 5px 0px;border-bottom:1px solid #DDDDDD;margin:5px 0px 5px 0px;}
.pager a{margin-left:10px;font-weight:bold;}
.pager .current{color:#FF0000;font-weight:bold;}

/* search */
.search{text-align:left;margin:5px 0px 5px 0px;border-bottom:1px dashed #DDDDDD;padding-bottom:5px;}
.search span{color:#000099;}
.search .txt{border:1px solid #DDDDDD;}
.search .sel{border:1px solid #DDDDDD;}
.search .btn{padding:0px 10px 0px 10px;}
.search .radiolist span{padding:0px 10px 0px 10px;}

/* index head */
.index_head{width:100%;height:39px;padding:8px 0px 0px 10px;background:url(../images/admin_bar_bg.gif) repeat-x top;font-size:16px;font-weight:bold;color:#FFFFFF;}

/* index menu */
.index_menu{padding:10px 10px 50px 10px;background:url(/images/admin_bg2.gif);}
.index_menu ul li{width:100%;margin-bottom:3px;}
.index_menu ul a{display:block;width:132px;line-height:16px;padding:4px 5px;color:#999999;border:1px solid;}
.index_menu ul a.current{font-weight:bold;color:#369;}

/* index login */
.index_login{}
.index_login .header{text-align:center;margin-top:30px;}
.index_login .header strong{font-size:20px;color:#336699;}
.index_login .message{margin-top:50px;color:#FF0000;text-align:center;font-size:12px;}
.index_login .content{margin:10px auto;width:450px;text-align:center;font-size:12px;font-weight:bold;}
.index_login .content table{width:450px;border:1px solid #777777;text-align:left;}
.index_login .content table th{padding:4px;}
.index_login .content table td{padding:4px;}
.index_login .content table .head{color:#336699;}
.index_login .content table .body th{width:150px;background:#C8C8E8;color:#666666;}
.index_login .content table .body td{background:#D8D8D8;}
.index_login .content table .foot{text-align:center;}

/* index index */
.index_index{margin:30px auto;font-size:30px;color:#336699;text-align:center;font-weight:bold;}

/* common message */
.common_message{border:1px solid #336699;margin:10px 10px 10px 10px;padding:10px 0px 10px 0px;text-align:center;}
.common_message .message{display:inline;padding:7px 0px 7px 40px;font-size:14px;font-weight:bold;line-height:32px;}
.common_message .message.information{background:url(/images/information.gif) no-repeat;}
.common_message .links{margin-top:10px;}
.common_message .links a{color:#999999;margin-right:10px;}

/* jquery ext real time edit */
.realtime_edit{display:in-line;padding:0px 10px 0px 0px;height:22px;line-height:22px;cursor:text;}
.realtime_edit:hover{background:#4477AA;color:#FFFFFF;}
.realtime_edit_current{display:in-line;padding:0px 10px 0px 0px;height:22px;line-height:22px;cursor:text;}

/* jquery msg box */
.msgbox{position:absolute;top:0px;right:0px;display:none;padding:3px 10px 3px 10px;background:#336699;}
.msgbox .failed{color:#FF0000;}
.msgbox .success{color:#FFFFFF;}