<meta charset="utf-8" />
<title>{$smarty.const.APP_NAME}</title>
<link rel="StyleSheet" type="text/css" href="/css/common.css" />
<link rel="StyleSheet" type="text/css" href="/css/jquery_smoothness/jquery-ui-1.10.3.custom.min.css" />
<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/js/jquery-downy.1.0.0.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
