<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<style type="text/css">{literal}
		body div{width:700px;margin:auto;font-family:Arial,Helvetica,sans-serif;padding:0px;margin-bottom:10px;}
		.header{height:120px;}
		.content{width:680px;border:1px dotted #77BBEE;background:#CCEEFF;font-size:14px;font-weight:bold;padding:10px;}
		.footer{font-size:12px;text-align:right;line-height:20px;}
	</style>{/literal}
</head>
<body>
	<div class="header"></div>
	<div class="content">{$message}</div>
	<div class="footer">Downy Short URI v 1.0.1 Powered by Downy PHP Applications<br />&copy; Copyright Wing075 2012</div>
</body>
</html>
