<script type="text/javascript">
var method = "{$method}";
{literal}
$(function(){
	$(".block-member_common_navg .tree .arrow").click(function(){
		if($(this).hasClass("close")){
			$(this).removeClass("close").addClass("open");
			$(this).parent().find(".sub").show(300);
		}else{
			$(this).removeClass("open").addClass("close");
			$(this).parent().find(".sub").hide(300);
		}
	});
	var obj = $("#" + method);
	obj.addClass("current");
	if(obj.hasClass("lv2")){
		obj = obj.parent().parent();
		obj.find(".arrow").removeClass("close").addClass("open");
		obj.find(".sub").css("display", "block");
	}else if(obj.hasClass("hassub")){
		obj = obj.parent();
		obj.find(".arrow").removeClass("close").addClass("open");
		obj.find(".sub").css("display", "block");
	}
});
{/literal}
</script>
<div class="block-member_common_navg">
	<a href="/index.php?a=member&m=home" class="lv1" id="home">账户信息</a>
	<a href="/index.php?a=member&m=base" class="lv1" id="base">资料和隐私</a>
	<a href="/index.php?a=member&m=connect" class="lv1" id="connect">关联帐号</a>
	<div class="tree">
		<div class="arrow close"></div>
		<a href="/index.php?a=member&m=safe" class="lv1 hassub" id="safe">账号安全性</a>
		<div class="sub">
			<a href="/index.php?a=member&m=mypassword" class="lv2" id="mypassword">我的密码</a>
			<a href="/index.php?a=member&m=myqanda" class="lv2" id="myqanda">保密问题</a>
			<a href="/index.php?a=member&m=mymobile" class="lv2" id="mymobile">我的手机</a>
			<a href="/index.php?a=member&m=myemail" class="lv2" id="myemail">我的邮箱</a>
			<a href="/index.php?a=member&m=myactivity" class="lv2" id="myactivity">活动报告</a>
		</div>
	</div>
	<a href="/index.php?a=member&m=logout" class="lv1" id="logout">退出</a>
</div>
