{include file="common_top.html"}
{include file="common_head.html"}
<script type="text/javascript">
{literal}
$(function(){
	$(".btn-product").click(function(){
		if($(this).hasClass("close")){
			$(this).removeClass("close").addClass("open").html("收起列表");
			$(this).parent().find(".item").show(300);
		}else{
			$(this).removeClass("open").addClass("close").html("展开列表");
			$(this).parent().find(".item").each(function(index){
				if(index >= 3) $(this).hide(300);
			});
		}
	});
	$(".product .item").each(function(index){
		if(index >= 3) $(this).hide();
	});
	if($(".product .item").length <= 3){
		$(".btn-product").css("display", "none");
	}
});
{/literal}
</script>
{include file="common_center.html"}
<div class="app-wrapper">
	{include file="common_appheader.html"}
	<div class="app-body">
		<div class="content clearfix">
			<div class="action-member">
				{include file="member_common_navg.html"}
				<div class="detail page-member_home">
					<div class="product">
						<ul>
							{foreach from=$product item=v}
							<li class="item">
								<div class="title">
									<img src="{$v.image}" class="logo" />
									<a class="name" target="_blank" href="{$v.home_page}">{$v.name}</a>
									<span>[ 已使用 {if $v.exp >= 365}{($v.exp / 365)|string_format:'%0.1f'} 年{else}{$v.exp} 天{/if} ]</span>
									{if !empty($v.status_msg)}<span>[ {$v.status_msg} ]</span>{/if}
								</div>
								<div class="info">
									{if !empty($v.data.html)}{$v.data.html}{else}
										<ul class="clearfix">
											{foreach from=$v.data.info item=_v}
											<li><span class="val">{$_v.val}</span><span class="key">{$_v.key}</span></li>
											{/foreach}
										</ul>
									{/if}
								</div>
							</li>
							{/foreach}
							<li class="btn-product close">展开列表</li>
						</ul>
					</div>
					<div class="account">
						<div class="portrait">
							<img src="{if $member.portrait}{$member.portrait}{else}/images/portrait.png{/if}" />
							<h1>{$member.first_name} {$member.last_name}</h1>
						</div>
						<div class="login_info">
							<h1>帐户活动报告</h1>
							<ul>
								<li><p class="key">上次登录日期</p><p class="val">{$member.last.create_time|date_format:"%Y/%m/%d %H:%M"}</p></li>
								<li><p class="key">上次登录时所用的IP地址</p><p class="val">{$member.last.ip|long2ip}</p></li>
							</ul>
						</div>
						<div class="account_log"><a href="/index.php?a=member&m=myactivity">了解更多详情，请查看您的账户活动报告。</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file="common_appfooter.html"}
</div>
{include file="common_bottom.html"}
