<div class="block-product">
	<div>帐户</div>
	<p>登录 Downy 帐户，享受 Downy 提供的更多服务。</p>
	<p>在右侧登录，或 <a class="redlink" href="/index.php?a=member&m=register"> 免费创建帐户</a>。</p>
	<ul class="clearfix">
		<li>
			<img src="/images/icon.png" alt="系统一" />
			<p class="title">Downy</p><p>与朋友畅聊，而且不必担心错过任何重要的电子邮件。</p>
		</li>
		<li>
			<img src="/images/icon.png" alt="系统二" />
			<p class="title">个性化搜索</p><p>根据您过去的搜索记录，提供相关性更强的搜索结果。</p>
		</li>
		<li>
			<img src="/images/icon.png" alt="设为主页" />
			<p class="title">喜欢 Downy 吗？</p><p><a href="/index.php?a=index&m=sethomepage" target="_blank">将 Downy 设为主页。</a></p>
		</li>
	</ul>
</div>
