{if in_array($article, array('help', 'term', 'privacy'))}
	<li>{if $article == 'help'}<strong>帮助</strong>{else}<a href="/index.php?a=index&m=intl&article=help">帮助</a>{/if}</li>
	<li>{if $article == 'term'}<strong>服务条款</strong>{else}<a href="/index.php?a=index&m=intl&article=term">服务条款</a>{/if}</li>
	<li>{if $article == 'privacy'}<strong>隐私权政策</strong>{else}<a href="/index.php?a=index&m=intl&article=privacy">隐私权政策</a>{/if}</li>
{/if}
{if in_array($article, array('safe'))}
	<li>{if $article == 'safe'}<strong>账号安全性</strong>{else}<a href="/index.php?a=index&m=intl&article=safe">账号安全性</a>{/if}</li>
{/if}